/* h1 {
  color: #ff385c !important;
} */
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger {
  color: #ff385c !important;
}

.site-layout .site-layout-background {
  background: #fff;
}
.logo {
  height: 32px;
  margin: 16px;
}
.logo svg {
  color: #ff385c !important;
}
th.ant-table-cell {
  background-color: #ff385c !important;
  color: white !important;
}
button.ant-input-search-button {
  background: #ff385c;
  border-radius: 5%;
}

.ant-pagination-item-active {
  border-color: #ff385c !important;
}
.ant-pagination-item:hover {
  border-color: #ff385c !important;
  color: #ff385c !important;
}
.ant-pagination-item-active a {
  color: #ff385c !important;
}
.ant-pagination-item:hover a {
  color: #ff385c !important;
}
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #ff385c !important;
  border-color: #ff385c !important;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #ff385c !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #ff385c !important;
}
.ant-menu-submenu-selected {
  color: #ff385c !important;
}
.menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: #ff385c !important;
}
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: #ff385c !important;
}
.ant-menu-item-selected {
  color: #ff385c !important;
}
.ant-select-selector {
  border-radius: 25px !important;
}
